@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #333;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container {
  width: 405px;
  height: 667px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
  background: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input {
  margin-bottom: 30px;
  position: relative;
}

.input input {
  width: 344px;
  height: 50px;
  background: #2f2f2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: none;
  outline: none;
  font-family: "Inter";
  color: #fff;
  padding: 0 23px;
  font-size: 20px;
  margin-bottom: 16px;
}

.input button {
  border: none;
}

.input button {
  height: 28px;
  right: 10px;
  top: 12px;
  width: 28px;
  position: absolute;
  background: transparent;
  cursor: pointer;
}

.input img {
  width: 100%;
  height: 100%;
}

.todos {
  margin-top: 30px;
  max-height: 400px;
  overflow: auto;
  position: relative;
}

.shadow {
  z-index: 100;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.todo {
  width: 344px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;
  margin-bottom: 14px;
}

.todo p {
  font-weight: 400;
  font-size: 17px;
}

.todo span {
  font-size: 13px;
}

.todo button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.todo img {
  width: 28px;
}

footer {
  margin-top: 5px;
  height: 33px;
  width: 100%;
  background: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

footer span {
  font-weight: 400;
  font-size: 13px;
  color: #222;
}

footer a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
}

.nothing {
  font-size: 23px;
  color: #fff;
}

@media only screen and (max-width: 440px) {
  .container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  footer {
    margin-top: 0;
  }
}

@media only screen and (max-width: 365px) {
  .todo {
    width: 300px;
  }

  .input input {
    width: 300px;
  }
}

@media only screen and (max-width: 440px) and (min-height: 896px) {
  .todos {
    height: 700px;
    max-height: 700px;
  }
}
